<div class="col-3 col-md-2 w-100 px-0 bg-light position-sticky" id="sticky-sidebar">
    <div class="nav navbar-ligh bg-light navbar-expand-sm flex-column flex-nowrap vh-100 overflow-auto text-dark p-2 sticky-top">
        <h5>Categories</h5>
        <a href="./books" class="navbar-text text-dark">Books</a>
        <a href="./clothes" class="navbar-text text-dark">Clothes</a>
        <a href="./electronics" class="navbar-text text-dark">Electronics</a>
        <a href="./furniture" class="navbar-text text-dark">Furniture</a>
        <a href="./gaming" class="navbar-text text-dark">Gaming</a>
        <a href="./jobs" class="navbar-text text-dark">Jobs</a>
        <a href="./pets" class="navbar-text text-dark">Pets</a>
        <a href="./realty" class="navbar-text text-dark">Realty</a>
        <a href="./services" class="navbar-text text-dark">Services</a>
        <a href="./sports" class="navbar-text text-dark">Sports</a>
        <a href="./tickets" class="navbar-text text-dark">Tickets</a>
        <a href="./vehicles" class="navbar-text text-dark">Vehicles</a>
    </div>
</div>