<footer class="page-footer font-small black pt-4 footer mt-auto fixed-bottom" id="footer">
    <div class="fixed-bottom">
        <nav class="navbar bg-dark">
            <a class="text-white" href="./about">About</a>
            <a class="text-white" href="./help">Help</a>
            <a class="text-white" href="./contacts">Contacts</a>
            <a class="text-white" href="./support">Report problems</a>
        </nav>
        <div class="text-center bg-dark">
            <nobr class="text-light text-center bg-dark">Copyright © 2020 Intellectual property of Mr. Robot</nobr>
        </div>
    </div>
</footer>
