<nav class="navbar navbar-dark text-white bg-dark">
        <!-- <button class="navbar-toggler toggle-btn" type="button" onclick="document.getElementById('sidebar').classList.toggle('active');" data-toggle="collapse" data-target="#my-navbar-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="sidebar">
            <ul>
                <li><a href="./vehicles">Vehicles</a></li>
                <li><a href="./electronics">Electronics</a></li>
                <li><a href="./clothes">Clothes</a></li>
                <li><a href="./realty">Realty</a></li>
                <li><a href="./pets">Pets</a></li>
                <li><a href="./books">Books</a></li>
                <li><a href="./tickets">Tickets</a></li>
                <li><a href="./services">Services</a></li>
            </ul>
        </div> -->

    <!-- Header Page Titel Text-->
    <!-- <span class="navbar-brand mb-0 h1" id="page-titel"><a href="./">The Basar</a></span> -->
    <a class="navbar-brand" href="/" id="bla"><img class="float-left d-inline-block align-top" src="/images/logo.png" alt="" id="logo"></a>
    <form class="mx-2 my-auto d-inline w-50">
        <div class="input-group">
            <input type="text" class="form-control border border-right-0" placeholder="Search...">
            <span class="input-group-append">
                <button class="btn btn-dark btn-outline-secondary text-white my-2 my-sm-0" id="navBarSearchBtn" data-toggle="button" type="submit">Search</button>
            </span>
        </div>
    </form>
    <div>
        <a class="text-white" href="">Login</a> | <a class="text-white" href="">Register</a>
    </div>
    <a href=""><img src="/images/cart.png" width="50" height="50" alt=""></a>
</nav>