<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Categories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toogler-icon"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="./vehicles">Vehicles</a></li>
            <li><a href="./electronics">Electronics</a></li>
            <li><a href="./clothes">Clothes</a></li>
            <li><a href="./realty">Realty</a></li>
            <li><a href="./pets">Pets</a></li>
            <li><a href="./books">Books</a></li>
            <li><a href="./tickets">Tickets</a></li>
            <li><a href="./services">Services</a></li>
        </ul>
    </div>
</nav>