<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header.ejs') %>
    <main role="main" class="container">
        <h1>About us:</h1>
        <h2>This E-commerce platform was created by 3 students only for educational purpose.</h2>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/categories.js"></script>
</body>
</html>