<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header.ejs') %>
    <main role="main" class="container">
        <h1>Ooops... Server error</h1>
        <h2>We are sorry, but the service is currently unavailable :(</h2>
        <img class="float-left d-inline-block align-top" src="/images/error.png" alt="">
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/categories.js"></script>
</body>
</html>