<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header.ejs') %>
      
    <div class="container-fluid bg-white">
        <div class="row">
            <%- include('./partials/categories.ejs') %>
            <div class="col-9" id="main">
                <h3>Welcome to Basar!</h3>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/categories.js"></script>
</body>
</html>